body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    font-size: large;
}
header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

h1.titre {
    text-align: center;
    margin-top: 20px;
    color: #ddd4b8;
}

.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.gallery img {
    width: 30%;
    border-radius: 8px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

.description,
.historique,
.infos {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h2 {
    color: #dac9c9;
    border-left: 5px solid #b88a00;
    padding-left: 10px;
    margin-top: 40px;
}

ul {
    list-style: "✨ ";
    padding-left: 25px;
}

iframe {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

footer {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #d4af37;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #b88a00;
}
